<div class="col-sm-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3><%= Job.count_for_status(@current_user.company.id,Job.status_open) %></h3>
      <p>Open</p>
    </div>
    <div class="icon">
      <i class="fa fa-briefcase"></i>
    </div>
    <%= link_to jobs_dashboard_path(:status => Job.status_open), :title => 'Open', :class => 'small-box-footer' do %>
        View <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">
      <h3><%= Job.count_for_status(@current_user.company.id,Job.status_unpublished) %></h3>
      <p>Unpublished</p>
    </div>
    <div class="icon">
      <i class="fa fa-briefcase"></i>
    </div>
    <%= link_to jobs_dashboard_path(:status => Job.status_unpublished), :title => 'Unpublished', :class => 'small-box-footer' do %>
        View <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3><%= Job.count_for_status(@current_user.company.id,Job.status_expired) %></h3>
      <p>Expired</p>
    </div>
    <div class="icon">
      <i class="fa fa-briefcase"></i>
    </div>
    <%= link_to jobs_dashboard_path(:status => Job.status_expired), :title => 'Expired', :class => 'small-box-footer' do %>
        View <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3><%= Job.count_for_status(@current_user.company.id,Job.status_closed) %></h3>
      <p>Closed</p>
    </div>
    <div class="icon">
      <i class="fa fa-briefcase"></i>
    </div>
    <%= link_to jobs_dashboard_path(:status => Job.status_closed), :title => 'Closed', :class => 'small-box-footer' do %>
        View <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  </div>
</div>