<% provide(:title, 'Company') %>
<div class="row">
<div class="col-sm-12">
	</br>
	<%= link_to 'Edit Company', editcompany_path(id:@current_user.company.id),class:'btn btn-primary' %>
    <%= link_to 'Career page', careers_path(identifier: @current_user.company.get_identifier),class:'btn btn-primary', target:'_blank' %>
  		<div class="row">
			<div class="col-sm-2">
				<b>Company</b>
			</div>
			<div class="col-sm-4">
				<%=@current_user.company.name%>
			</div>
			<div class="col-sm-1">
			<b>Country</b>
			</div>
			<div class="col-sm-2">
				<%=@current_user.company.country_name%>
			</div>
			<div class="col-sm-1">
			<b>City</b>
			</div>
			<div class="col-sm-2">
				<%=@current_user.company.city%>
			</div>
		</div></br>
		<div class="row">
			<div class="col-sm-2">
				<b>Website</b>
			</div>
			<div class="col-sm-2">
				<%=@current_user.company.website%>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-12" ><b>About Company</b></div>
		</div>
		<div class="row">
			<div class="col-sm-12" ><%=@current_user.company.about%></div>
		</div>
		</br>
</div>
</div>