<% provide(:title, 'Pricing') %>

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="text-center">
                <h2><b>Simple and affordable pricing for any organization</b></h2>
              </div>
            </div>
            <div class="panel-body">
                <div class="row col-sm-12">
                    <div class="col-sm-4"><%= render 'free_table' %></div>
                    <div class="col-sm-4"><%= render 'on_demand_table' %></div>
                    <div class="col-sm-4"><%= render 'premium_table' %></div>
                </div>
            </div>
        </div>
      <div>
        <h2><b>Free</b></h2>
        <div>
          <p>
            The Free package is limited in functionality and is used by very small startups.Mostly for limited number of applications.
            In this package only one user(recruiter) is allowed and only 1 open job at a time. When the number of applicants
            reaches <%= Package::FREE_CANDIDATE_COUNT %> the system prevents any more applications from coming in.
            There is no expiry date for the free package. It will always remain free and you can use it albeit with the restrictions.
          </p>
          <p>You can easily upgrade to the other packages at any time.</p>
        </div>
      </div>
      <div>
        <h2><b>On-Demand</b></h2>
        <p>
          The On-Demand package is best suited for companies that offer less than 5 job openings a month.
          You only pay for the job post when you need it. It allows for 3 users(recruiters) and you can have as many open jobs as
          you like but you must pay for each job. If you have upgraded from the free package and already had created some jobs,
          you will have to pay for them in order to access them.
        </p>
        <p>If it is the first time you are subscribing to the On-Demand package then you will get 1 job for free.</p>
      </div>
      <div>
        <h2><b>Premium</b></h2>
        <p>
          The Premium package suits companies that offer many job openings a month. There are no restrictions to the number
          of users(recruiters), open jobs, or applications. In addition you get functionality for reports on your job openings.
          This package also offers a career page for your website.
        </p>
        <p>If it is the first time you are subscribing to the Premium package then you will get a <%=Package::PREMIUM_TRIAL_DAYS_COUNT%> day trial period.</p>
      </div>
      <div>
        <b>Queries</b>
        <p>
          For any Queries Contact us on: contact(@)msajili.com
        </p>
      </div>
	</div>
	<div class="col-sm-1"></div>
</div>
