<% if @job.internal_job? %>
    <% provide(:title, "#{@job.title} at #{@job.company.name}") %>
<% else %>
    <% provide(:title, "#{@job.title} at #{@job.company_name}") %>
<% end %>
<% provide(:keywords, "jobs in #{@job.city}, jobs in #{@job.country_name}") %>

<% provide(:thumbnail, image_url('employing.png')) %>

<% if !@current_user || @current_user.role == Role.applicant %>
    <div class="row padding-10 text-center">
      <!-- ad slot-->
    </div>
<% end %>
<% if @job.internal_job? %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="col-sm-7 career_page_body">
          <%= link_to 'Msajili Home', '/', class: 'btn btn-default' %>
          <%= if @job.company.has_website? then
                link_to 'Back to company website', @job.company.website, class: 'btn btn-primary'
              end %>
          <%= link_to "All jobs at #{@job.company.name}", careers_path(identifier: @job.company.get_identifier), class: 'btn btn-success' %>
        </div>
        <div class="col-sm-5"></div>
      </div>
      <div class="col-md-1"></div>
    </div>
<% else %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="col-sm-7 career_page_body"><%= link_to 'Msajili Home', '/', class: 'btn btn-success' %></div>
        <div class="col-sm-5"></div>
      </div>
      <div class="col-md-1"></div>
    </div>
<% end %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="col-sm-8 career_page_body">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12">
              <h3><b><%= @job.title %></b></h3>
            </div>
          </div>
        </div>
        <% if @error_message %>
            <%= render '/jobs/job_message' %>
        <% else %>
            <%= render '/jobs/display_job' %>
        <% end %>
      </div>
      <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
      <% if !@current_user || @current_user.role == Role.applicant %>
          <div class="row padding-10 text-center">
            <!-- ad slot -->
          </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="fb-page" data-href="https://www.facebook.com/MsajiliKenya" data-width="300" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/MsajiliKenya">
                <a href="https://www.facebook.com/MsajiliKenya">Msajili</a></blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="popularity" class="plot" style="width:250px;height:170px;"></div>
        <script type="text/javascript" class="code">
            $(document).ready(function () {
                popularity = [<%= @job.get_or_create_job_stat.popularity %>];
                highest = <%= @job.get_or_create_job_stat.highest_count %>;
                regionSize = highest / 2;
                plot0 = $.jqplot('popularity', [popularity], {
                    seriesDefaults: {
                        renderer: $.jqplot.MeterGaugeRenderer,
                        rendererOptions: {
                            showTickLabels: false,
                            label: 'Popularity',
                            labelPosition: 'bottom',
                            min: 0,
                            max: highest,
                            intervals: [regionSize, highest],
                            intervalColors: ['#7AB8FF', '#FF0000']
                        }
                    }
                });
            });
        </script>
      </div>
      <% if !@job.internal_job? %>
          <div class="row">
            <div class="col-sm-12"><%= render 'categories' %></div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<br/>
<br/>
<br/>
<br/>
