<div class='padding-5'>
    <input type="text" id="choice_<%= c.id %>" data-id="<%= c.id %>" value="<%= c.content %>" placeholder="Title" class="btn-xs col-sm-10">
    <a id="remove_choice_<%= c.id %>" class="btn btn-danger btn-xs col-sm-2" href="javascript:void(0)" data-id="<%= c.id %>">Remove</a>
</div>
