<div  class="form-group padding-5" id=<%="main_question_#{q.id}"%> data-id="<%= q.id %>" data-position="<%= q.position %>">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <hr/>
        <textarea id=<%="question_content_#{q.id}"%> rows="3" required="required"  class="col-sm-12 form-control padding-5"><%= q.content %></textarea>
        <%
            if q.question_type == Question::TYPE_SINGLE_OPTION || q.question_type == Question::TYPE_MULTIPLE_OPTION
              hide = 'display: block;'
            else
              hide = 'display: none;'
            end
        %>
        <div id="<%="choices_#{q.id}"%>" class="col-sm-12" style="<%= hide %>">
          <div id="choice_list_<%=q.id%>" class='padding-5'>
            <% q.choices.each do |c| %>
                <%= render 'choice', :c => c %>
            <% end %>
          </div>
            <div class="col-sm-12 pull-right padding-5">
              <a id="new_choice_<%=q.id%>" data-question_id='<%=q.id%>' class="btn btn-primary btn-sm" href="javascript:void(0)">Add Choice</a>
            </div>
        </div>
        <div id="message" class="col-sm-12 label-danger text-center padding-10" style="display: none;">

        </div>
      </div>
      <div id="<%= "actions_#{q.id}" %>" class="col-sm-3">
        <hr/>
        <div class="actions_buttons">
          <select id="<%= "question_type_#{q.id}" %>" data-id="<%=q.id%>" required="required">
            <option value="0" <%= q.question_type == 0 ? 'selected' : '' %>>Question type</option>
            <option value="1" <%= q.question_type == Question::TYPE_OPEN_ENDED ? 'selected' : '' %>>Open Ended</option>
            <option value="2" <%= q.question_type == Question::TYPE_SINGLE_OPTION ? 'selected' : '' %>>Single Option</option>
            <option value="3" <%= q.question_type == Question::TYPE_MULTIPLE_OPTION ? 'selected' : '' %>>Multiple Option</option>
          </select>
          <a id="<%= "question_remove_#{q.id}" %>" class="btn btn-danger btn-sm" data-id="<%=q.id%>" href="javascript:void(0)" >
            <i class="fa fa-trash-o fa-lg"></i> Remove
          </a>
          <br><br>
          <a id="<%= "question_up_#{q.id}" %>" data-id="<%=q.id%>" href="javascript:void(0)">
            <i class="fa fa-arrow-circle-up fa-2x"></i>
          </a>
          <br><br>
          <a id="<%= "question_down_#{q.id}" %>" data-id="<%=q.id%>" href="javascript:void(0)">
            <i class="fa fa-arrow-circle-down fa-2x"></i>
          </a>
        </div>
        <div class="actions_progress text-center" style="display: none;">
          <i class="fa fa fa-spinner fa-spin fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
