<% provide(:title, 'Calendar') %>
<%if @interview %>
    <%column_1 = 'col-sm-3'%>
    <%column_2 = 'col-sm-9'%>
<%else%>
    <%column_1 = ''%>
    <%column_2 = 'col-sm-12'%>
<%end%>
<div class="row">
<div class="<%=column_1%>">
  <%if @interview %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p><b>Interview with <%= @interview.application.user.first_name %> <%= @interview.application.user.last_name %></b></p>
        </div>
        <div class="panel-body">
          <%= form_for @interview, url: schedule_path do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= f.hidden_field :user_id %>
              <%= f.hidden_field :application_id %>
              <%= f.hidden_field :id %>
              <div class="form-group">
                <%= f.label :start_time, class: "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <%= f.text_field :start_time,id: "#{generate_datetimepicker_id}", class: "form-control", :required=>true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :end_time, class: "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <%= f.text_field :end_time, id: "#{generate_datetimepicker_id}", class: "form-control", :required=>true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :location, class: "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <%= f.text_field :location, class: "form-control", :required=>true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :additional_info, class: "col-sm-12 control-label" %>
                <div class="col-sm-12">
                  <%= f.text_area :additional_info, class: "form-control",:rows => 4%>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <br/>
                  <%= f.submit 'Schedule Interview', class: 'btn btn-xs btn-primary' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    <%end%>
</div>
<div class="<%=column_2%>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
        <h2><b>Interviews</b></h2>
        </div>
      <div class="col-sm-6 text-right">
        <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="left" title="Schedule Interviews"
           data-content="Schedule interviews by going to an application while processing a job then click on the 'Schedule interview' button.
           That will bring you to the calendar page where you can enter the details for the interview. You can edit an interview by clicking on it in the calendar."
        ><b>?</b></a>
      </div>
        </div>
    </div>
    <div class="panel-body">
      <div id='calendar'></div>
    </div>
  </div>
</div>
</div>