<div class="col-sm-2"></div>
<div class="col-sm-8">
	<% if @template.company.id == @current_user.company.id %>
		<div><%= link_to "Edit Template", edittemplate_path(id: @template.id),class:"btn btn-primary"%></div>
	<% end %>
	<h3><%=@template.title%></h3>
	<ol>
	<% @template.questions.each do |q| %>
		<div class="row">
		<li> <%= q.content %> </li>
	    </div>
	    <div class="row">
		    <% if q.has_choices %>
			    <% q.choices.each do |c| %>
			    <div class="row">
			    	<input id="<%= "answers_#{q.id}_#{c.id}" %>" type="radio" value="<%= "#{c.id}" %>" name="<%= "answers[#{q.id}]" %>">
					<label for="<%= "answers_#{q.id}_#{c.id}" %>"><%= c.content %></label>
			    </div>
			    <%end%>
			<% else %>
				<textarea id="<%= "answers_#{q.id}" %>" class="col-sm-8" rows="3" name="<%= "answers[#{q.id}]" %>"></textarea>
			<% end %>
		</div></br>
	<% end %>
	</ol>
</div>
<div class="col-sm-2"></div>