<%= form_for @agent, url: agentrequest_path, html: {class: "form-signin",role:"form"} do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Want to become an agent?</b>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= f.label :email, class: "col-sm-12 control-label" %>
          <div class="col-sm-12">
            <%= f.text_field :email,class:"form-control",placeholder:"Email address", :autofocus=>true, :required=>true %>
          </div>
        </div>
        <div class="row">
          <%= f.label :first_name, class: "col-sm-12 control-label" %>
          <div class="col-sm-12">
            <%= f.text_field :first_name,class:"form-control",placeholder:"First name", :autofocus=>true, :required=>true %>
          </div>
        </div>
        <div class="row">
          <%= f.label :last_name, class: "col-sm-12 control-label" %>
          <div class="col-sm-12">
            <%= f.text_field :last_name,class:"form-control",placeholder:"Last name", :autofocus=>true, :required=>true %>
          </div>
        </div>
        <div class="row">
          <%= f.label :phone, class: "col-sm-12 control-label" %>
          <div class="col-sm-12">
            <%= f.text_field :phone,class:"form-control",placeholder:"Phone number", :autofocus=>true, :required=>true %>
          </div>
        </div>
        <%= f.submit 'Request', class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    </div>
<% end %>