<%= form_for @staff, url: staff_password_path,method: :post, html: {role:"form"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group row">
      <%= f.label :current_password,'Current password', class: "col-sm-12 control-label"  %>
      <div class="col-sm-12">
        <%= f.password_field :current_password, class: "form-control", :required=>true %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password,'New password', class: "col-sm-12 control-label"  %>
      <div class="col-sm-12">
        <%= f.password_field :password, class: "form-control", :required=>true %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, 'Confirm new password', class: "col-sm-12 control-label"  %>
      <div class="col-sm-12">
        <%= f.password_field :password_confirmation, class: "form-control", :required=>true %>
      </div>
    </div>
    <div class="form-group text-center row">
      <%= f.submit 'Change password',class: 'btn btn-primary'  %>
    </div>
<% end %>