<div class="row padding-20">
  <div class="col-sm-12">
    <div class="col-sm-1"></div>
    <%= link_to 'Users', adminusers_path, class: "btn #{current_page?(adminusers_path) ? 'btn-info':'btn-default'} col-sm-2"%>
    <%= link_to 'Companies', admincompanies_path, class: "btn #{current_page?(admincompanies_path) ? 'btn-info':'btn-default'} col-sm-2"%>
    <%= link_to 'Jobs', adminjobs_path, class: "btn #{current_page?(adminjobs_path) ? 'btn-info':'btn-default'} col-sm-2"%>
    <%= link_to 'Payments', adminpayments_path, class: "btn #{current_page?(adminpayments_path) ? 'btn-info':'btn-default'} col-sm-2"%>
    <%= link_to 'Sales Agents', adminagents_path, class: "btn #{current_page?(adminagents_path) ? 'btn-info':'btn-default'} col-sm-2"%>
    <div class="col-sm-1"></div>
  </div>
</div>