<div class="padding-10">

  <%= link_to 'New Anonymous Job', adminnew_job_path,class:'btn btn-primary' %>
  <div>
    Added today: <%= Job.count_added_today %>
  </div>
  <div>
    Added by YOU today: <%= Job.count_added_today_by_user(@staff.id) %>
  </div>
  <div>
    Expiring today: <%= Job.count_expiring_today %>
  </div>
  <table id="anonymous_jobs_table" class="table table-striped small_font">
    <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Views</th>
      <th>Status</th>
      <th>Deadline</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<% if @staff.role == Administrator::ROLE_EDITOR %>
    <div class="row padding-40">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Change password</b>
          </div>
          <div class="panel-body">
            <div id="setting-tabs-password">
              <%= render 'change_password'%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div>
<% end %>