<%= render 'nav' %>
<div class="row padding-10">
  <div class="col-sm-2">
    <%= link_to 'New Staff', staff_path, class:'btn btn-primary btn-block btn-sm' %>
  </div>
  <div class="col-sm-10"></div>
</div>
<div class="padding-10">
  <table id="staff_table" class="table table-striped small_font">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="row padding-40">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Change password</b>
      </div>
      <div class="panel-body">
        <div id="setting-tabs-password">
          <%= render 'change_password'%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-sm-4">
      <a class="btn btn-danger btn-block" href="<%= calculate_popularity_path %>">
        <i class="fa fa-flag fa-2x pull-left"></i> Calculate popularity<br>
        Last calculated at:<br><%= @popularity_calculated_at %>
      </a>
      <div class="bg-blue padding-10">
        Sync Log Version: <%= @sync_log_version %>
      </div>
      <div class="bg-aqua padding-10">
        Last Sync Log Reset:<br><%= @last_sync_log_reset %>
      </div>
    </div>
    <div class="col-sm-8">
      <% if @popular_jobs then %>
          <table class="table table-striped small_font">
            <thead>
            <tr><th>#</th><th>Job</th><th>Popularity</th></tr>
            </thead>
            <tbody>
            <% i = 1 %>
            <% @popular_jobs.each do |j| %>
                <% clas = i%2 == 0 ? 'even' : 'odd' %>
                <tr class="<%= clas %>"><td><%=i%></td><td><%=j.title%></td><td><%=j.get_or_create_job_stat.popularity%></td></tr>
                <% i = i+1 %>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>

  </div>
</div>