<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><b>New Job</b></h1><b>step 1 of 2</b>
    </div>
    <div class="panel-body">
      <%= nested_form_for(@job,url: admincreate_job_path, html: {class: 'form-horizontal',role:'form'}) do |f| %>
          <%= f.hidden_field :company_id,:value => 0 %>
          <%= f.hidden_field :user_id,:value => @staff.id %>
          <%= f.hidden_field :job_type,:value => 1 %>
          <div class="form-group">
            <%= f.label :category, class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.collection_select(:category_id,@categories,:id,:category_name,{:prompt => true},{:class => 'form-control'})%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :title, 'Title', class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.text_field :title, class: 'form-control', :required=>true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :company_name, 'Company', class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.text_field :company_name, class: 'form-control', :required=>true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :country, class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= country_select('job','country',{selected: 'KE'},{:class => 'form-control'})%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :city,'Location', class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.text_field :city, class: 'form-control', :required=>true  %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :deadline, class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.text_field :deadline,id: "#{generate_datepicker_id}",class: 'form-control', :required=>true, placeholder: 'yyyy-mm-dd' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :source,'Source URL', class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.text_field :source, class: 'form-control', :required=>true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.submit 'Create Job', class: 'btn btn-large btn-success' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-sm-3"></div>