<% provide(:title, 'New Staff') %>
<div class="row padding-40">
	<div class="col-sm-4"></div>
    <div class="col-sm-4">
    <%= form_for(@user,url: staff_path,method: 'post', html:  {class: "form-horizontal",role:"form"}) do |f| %>
          <div class="panel panel-default">
            <div class="panel-heading">
            <h1><b>Staff edit/create</b></h1>
              </div>
            <div class="panel-body">
          <%= render 'shared/error_messages', object: f.object %>
		
		<%= if @user.id then f.hidden_field :id,:value => @user.id end %>

        <div class="form-group">
            <%= f.label :email, class: 'col-sm-12'  %>
            <div class="col-sm-12">
              <%= f.text_field :email, class: 'form-control',:value => @user.email, :required=>true  %>
            </div>
        </div>
		<div class="form-group">
			<%= f.label :first_name,'First name', class: 'col-sm-12' %>
			<div class="col-sm-12">
				<%= f.text_field :first_name, class: 'form-control', :required=>true %>
			</div>
	   	</div>
        <div class="form-group">
            <%= f.label :last_name,'Last name', class: 'col-sm-12' %>
            <div class="col-sm-12">
              <%= f.text_field :last_name, class: 'form-control', :required=>true %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :role,'Role', class: 'col-sm-12' %>
            <div class="col-sm-12">
              <%= f.select(:role, @roles.map { |k,v| [ k, v ] },selected: @user.role,class: 'form-control') %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :enabled,'Status', class: 'col-sm-12' %>
            <div class="col-sm-12">
              <%= f.select(:enabled, @statuses.map { |k,v| [ k, v ] },selected: @user.enabled,class: 'form-control') %>
            </div>
        </div>
		<div class="form-group">
			<%= f.label :password, class: 'col-sm-12'  %>
			<div class="col-sm-12">
				<%= f.password_field :password, class: 'form-control' %>
			</div>
	    </div>
		<%= f.submit 'Save Staff', class: 'btn btn-large btn-success ' %>
          </div>
          </div>
    <% end %>
    </br></br>
</div>
	<div class="col-sm-4"></div>
</div>
