<%= form_for(@application,url: savecover_path, html: {class: "form-horizontal",role:"form"}) do |f| %>
	<%= f.hidden_field :job_id,:value => @application.job_id %>
	<%= f.hidden_field :user_id,:value => @application.user_id %>
	<div class="form-group">
		
		<div class="col-sm-12">
			<%= f.label :cover_letter, "Cover letter", class: "control-label"  %>
			<%= f.text_area :cover_letter, rows: 20, class: "form-control"%>
		</div>
	</div>
	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>
