<%= form_for(@job, html: {class: "form-horizontal",role:"form"}) do |f| %>
	<%= f.hidden_field :company_id%>
	<%= f.hidden_field :id%>
	<%= f.hidden_field :user_id%>
	
	<div class="form-group">
		<%= f.label :category, class: 'col-sm-2 control-label'  %>
		<div class="col-sm-10">
    		<%= f.collection_select(:category_id,@categories,:id,:category_name,{:prompt => true},{:class => 'form-control'})%>
		</div>
    </div>
    <div class="form-group">
		<%= f.label :title, 'Title', class: 'col-sm-2 control-label'  %>
		<div class="col-sm-10">
			<%= f.text_field :title, class: 'form-control', :required=>true %>
		</div>
	</div>
	<div class="form-group">
    	<%= f.label :country, class: 'col-sm-2 control-label'  %>
    	<div class="col-sm-5">
			<%= country_select('job','country',{},{:class => 'form-control'})%>
		</div>
		<%= f.label :city, class: 'col-sm-1 control-label'  %>
		<div class="col-sm-4">
			<%= f.text_field :city, class: 'form-control', :required=>true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :deadline, class: 'col-sm-2 control-label'  %>
    	<div class="col-sm-3">
			<%= f.text_field :deadline, id: "#{generate_datepicker_id}", class: 'form-control', :required=>true, placeholder:"yyyy-mm-dd e.g 2001-10-05"%>
		</div>
	</div>
    <div class="form-group">
      <%= f.label :procedure, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-10">
        <%= f.collection_select(:procedure_id,@procedures,:id,:title,{:prompt => true},{:class => 'form-control'})%>
      </div>
    </div>
	<div class="form-group">
		<%= f.label :url,'External url', class: 'col-sm-2 control-label'  %>
		<div class="col-sm-10">
          <%= link_to external_url(n:@job.title,t:@job.token), external_url(n:@job.title,t:@job.token), :target => '_blank' %>
		</div>
    </div>
    <div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
    		<%= f.submit "Update Job", class: "btn btn-large btn-success" %>
		</div>
    </div>
	
<% end %>