<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 text-center">
		<div><h3><%= @job.title %> at <%= @job.company.name %></h3></div>
		<div>
			<div class="col-xs-1"><%=nbsp(1)%></div>
			<div class="col-xs-2 <%= if @application.get_status == 1 then 'active_box' else 'inactive_box'  end%>">
				1</br><p class="small_font">Cover letter</p>
			</div>
			<div class="col-xs-2"><hr style="border-color: #b0b0b0;"/></div>
			<div class="col-xs-2 <%= if @application.get_status == 2 then 'active_box' else 'inactive_box'  end%>">
				2</br><p class="small_font">Pre screening</p>
			</div>
			<div class="col-xs-2" ><hr style="border-color: #b0b0b0;"/></div>
			<div class="col-xs-2 <%= if @application.get_status == 3 then 'active_box' else 'inactive_box' end%>">
				3</br><p class="small_font">Finalize</p>
			</div>
			<div class="col-xs-1"><%=nbsp(1)%></div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div></br>
<div class="row">
	<div class="col-sm-12">
		<%= link_to 'Job url', external_url(t: @job.token), class: 'btn btn-primary',:target => '_blank' %>
	</div>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<%=
			if @application.get_status == 1 
				render 'cover_letter'
			elsif @application.get_status == 2
				render 'screening_form'
			elsif @application.get_status == 3
				render 'finalize_application'
			end
		%>
	</div>
	<div class="col-sm-2"></div>
</div></br></br>
