<% provide(:title, 'Create Job') %>
<%= form_for @uijob,url: newjob2_path , html: {id: 'job-wizard', class: 'form-horizontal',role:'form'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :company_id,:value => @current_user.company.id %>
    <%= f.hidden_field :user_id,:value => @current_user.id %>
  <h3>Basic info</h3>
  <section>
    <%= render 'step1', f: f %>
  </section>
  <h3>Custom fields</h3>
  <section>
    <div class="scrollable">
        <%= render 'step2', f: f %>
    </div>
  </section>
  <h3>Screening questions</h3>
  <section>
    <div class="scrollable">
      <%= render 'step3', f: f %>
    </div>
  </section>
  <h3>Ratings</h3>
  <section>
    <p>The next and previous buttons help you to navigate through your content.</p>
  </section>
  <h3>Finalize</h3>
  <section>
    <p>The next and previous buttons help you to navigate through your content.</p>
  </section>
<% end %>