<% provide(:title, @search_caption) %>
<div class="row">
  <div class="col-sm-10">
    <div class="col-sm-8">
      <div class="row text-center">
        <!-- ad slot -->
      </div>
      </br></br>
      <div class="row">
        <div class="col-sm-12">
          <%= form_for(:search, url: jobsearch_path, method: 'get') do |f| %>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6"><%= f.text_field(:q, class: 'form-control btn-block', placeholder: 'Search jobs', :required => true) %></div>
                <div class="col-sm-2"><%= f.submit('Search', class: 'btn btn-default btn-block') %></div>
                <div class="col-sm-2"></div>
              </div>
          <% end %>
        </div>
      </div>
      <div class="text-center padding-5">
        <b><%= @search_caption %></b>
      </div>
      <hr/>
      <% if !@jobs || @jobs.count <1 %>
          <div>
            <b>No results</b>
          </div>
      <% end %>

      <div class="text-center">
        <%= will_paginate @jobs %>
      </div>
      <% @jobs.each do |j| %>
          <%= render 'shared/job_preview', :job => j %>
          <hr/>
      <% end %>
      <div class="row padding-10 text-center">
        <!-- ad slot -->
      </div>
      <div class="text-center">
        <%= will_paginate @jobs %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="fb-page" data-href="https://www.facebook.com/msajili.recruitment" data-width="300" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/msajili.recruitment">
                <a href="https://www.facebook.com/msajili.recruitment">Msajili</a></blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row padding-5">
        <%= link_to browse_path do %>
            All jobs <span class='label label-primary pull-right'><%= Job.category_count(0) %></span>
        <% end %>
      </div>
      <% @categories.each do |c| %>
          <div class="row padding-5">
            <%= link_to browse_path(c: c.id, page: 1) do %>
                <%= c.category_name %>
                <span class='label label-primary pull-right'><%= Job.category_count(c.id) %></span>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
