<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h1><b>Edit Job</b></h1><b>step 5 of 5</b>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <p class="col-sm-12"><b>Set a filter</b>
          <a id="<%=generate_help_popover_id%>" class="btn btn-warning btn-xs" tabindex="0" data-placement="left" title="Filter"
             data-content="Basically filters are the expected answers to the screening questions. They are important because the system will use
             the filter to rate candidates based on how they answered the questions. Filters only apply to the questions that have choices."
          ><b>?</b></a>
        </p>
      </div>
      <div>
        <%= form_tag savefilter_url do -%>
            <%= hidden_field_tag 'filter[job_id]', @job.id %>
            <div>
              <%= hidden_field_tag 'filter[title]', 'default' %>
            </div>
            <ol>
              <% @job.questions.each do |q| %>
                  <% if q.has_choices %>
                      <div class="row">
                        <li> <%= q.content %> <% if q.filter_answer == nil %><p class="label label-danger">Not set</p><% end %></li>
                      </div>
                      <div class="row">
                        <% q.choices.each do |c| %>
                            <div class="row">
                              <% if q.filter_answer != nil &&  q.filter_answer.choice.id == c.id %>
                                <input checked='checked' id="<%= "answers_#{q.id}_#{c.id}" %>" type="radio" value="<%= "#{c.id}" %>" name="<%= "answers[#{q.id}]" %>">
                              <% else %>
                                <input id="<%= "answers_#{q.id}_#{c.id}" %>" type="radio" value="<%= "#{c.id}" %>" name="<%= "answers[#{q.id}]" %>">
                              <% end %>
                              <label for="<%= "answers_#{q.id}_#{c.id}" %>"><%= c.content %></label>
                            </div>
                        <%end%>
                      </div>

                      </br>
                  <% end %>
              <% end %>
            </ol>
            <div class="modal-footer">
              <%= submit_tag 'Save', :class => 'btn btn-primary btn-xs' %>
              <%= link_to 'View job' , showjob_path(id: @job.id), class:'btn btn-success btn-xs' %>
            </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-2"></div>
