<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
        <div class="col-md-8">
        <b><%= @job.title %></b>
        </div>
        <div class="col-md-4 text-right">
          <% if @job.status==Job.status_unpublished || @job.status==Job.status_draft %>
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#publish_job_modal">
                Publish this job
              </button>
          <% elsif @job.status==Job.status_open %>
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#publish_job_modal">
                Unpublish this job
              </button>
          <% end %>
        </div>
      <%= render 'modal_publish' %>
    </div>
  </div>
  <div class="panel-body">
            <div>
                <b>Status: </b> <%= Job.status_name_for_code(@job.status) %>
            </div></br>

            <div id="<%=generate_tab_id%>">
              <ul class="tabs">
                <li class="tab"><a href="#tabs-1">Job Description</a></li>
                <li class="tab"><a href="#tabs-2">Screening Questions</a></li>
              </ul>
              <div id="tabs-1">
                <p><%= render 'jobdetails' %></p>
              </div>
              <div id="tabs-2">
                <p><%= render 'screening_questions'%></p>
              </div>
            </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-12 text-center">
          <%= link_to 'Edit Custom fields', customfields_path(id: @job.id,edit:true), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Edit Questions', definequestions_path(id: @job.id,edit:true), class: 'btn btn-success btn-xs' %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-sm-1"></div>