<html>
  <head>
	<title>Mail from Msajili</title>
  </head>
  <body>
    <div align="center">
	<table style="width: 555px; margin: 10px auto; border: 1px black solid;">
	  <tr><td style="background: activecaption; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Activate Your Msajili Account</h2></td></tr>
	  <tr>
        <td style="text-align: left; padding: 5px 10px;">
          <p>Welcome to <strong>Msajili</strong>, <strong><%= @user.first_name %> <%= @user.last_name %></strong>.</p>
          <p>You have been invited to <strong>Msajili</strong> as a recruiter for <strong><%= @user.company.name %></strong> using <%= @user.email %>.  If you are aware of this
          and you wish to activate your account, click <a href="<%=activate_url%>?activation_token=<%= @user.activation_token %>">here</a>.</p>
          <p>
            Alternatively you can copy the url below and paste it on your browser.
          </p>
          <p>
            <%=activate_url%>?activation_token=<%= @user.activation_token %>
          </p>
          <p>
            If you were not aware of any invitation or you don't know about <%= @user.company.name %> then please ignore this email.
          </p>
          <p>
            Regards,<br/>
            Msajili Team.
          </p>
        </td>
	  </tr>
	</table>
    </div>
  </body>
</html>