<html>
<head>
  <title>Mail from Msajili</title>
</head>
<body>
<div align="center">
  <table style="width: 555px; margin: 10px auto; border: 1px black solid;">
    <tr><td style="background: activecaption; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Msajili Sales Agent Account</h2></td></tr>
    <tr>
      <td style="text-align: left; padding: 5px 10px;">
        <p>Welcome to Msajili Sales, <strong><%= @agent.first_name %> <%= @agent.last_name %></strong>.</p>
        <p>
          <strong>Msajili</strong> received an agent request using <%= @agent.email %>. An agent account has been created for you
          at Msajili Sales.
        </p>
        <p>
        Your referral id is: <%= @agent.referral_id %>
        </p>
        <p>
          Provide this referral id to your contacts to be able to track your commissions. Note that your contacts must enter
          this referral id when they signup. If they don't enter it then there is no way for you or us to track your commissions.
        </p>
        <p>
          You can login to the sales console at <a href="<%=agent_url%>"><%=agent_url%></a>
        </p>
        <p>
          Your email: <%= @agent.email %>
        </p>
        <p>
          Your password: <%= @agent.generated_password %>
        </p>
        <p>
          Please ensure that you change your password once you login.
        </p>
        <p>
          Regards,<br/>
          Msajili Team.
        </p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>