<% provide(:title, 'Register job seeker') %>
<div class="row">
	<div class="col-sm-4"></div>
    <div class="col-sm-4">
    <%= form_for(@user, html: {class: "form-horizontal",role:"form"}) do |f| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2><b>Register job seeker</b></h2>
          </div>
          <div class="panel-body">
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.hidden_field :role, :value => Role.applicant %>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <%= f.text_field :first_name, class: 'form-control col-sm-12', :required => true, :placeholder => 'First name' %>
              </div>
            </div>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <%= f.text_field :last_name, class: 'form-control col-sm-12', :required => true, :placeholder => 'Last name' %>
              </div>
            </div>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <%= f.text_field :email, class: 'form-control col-sm-12', :required => true, :placeholder => 'Email' %>
              </div>
            </div>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-location-arrow fa-fw"></i></span>
                <%= country_select('user', 'country', {selected: 'KE'}, {:class => "form-control"}) %>
              </div>
            </div>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-location-arrow fa-fw"></i></span>
                <%= f.text_field :city, class: "form-control", :required=>true, :placeholder=>'City'  %>
              </div>
            </div>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <%= f.text_field :password, class: 'form-control col-sm-12', :required => true, :type => 'password', :placeholder => 'Password' %>
              </div>
            </div>
            <div class="row padding-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <%= f.text_field :password_confirmation, class: 'form-control col-sm-12', :required => true, :type => 'password', :placeholder => 'Confirm password' %>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                By clicking on the 'Create my account' button you agree that you've read and understood our <%= link_to 'Terms of Service',tos_path%>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                <%= f.submit 'Create my account', class: 'btn btn-large btn-primary btn-block' %>
                </div>
                <div class="col-sm-3"></div>
            </div>
            </div>
        </div>
    <% end %>
    </br></br>
</div>
	<div class="col-sm-4"></div>
</div>
