<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 padding-10 bg-green">

    <div class="col-sm-7 text-center">
      <div class="col-sm-12 text-center">
        <h2><b>An app for job seekers</b></h2>
      </div>
      <div class="padding-40"></div>
      <div class="col-sm-12">
        Get the Msajili Android App for free. Browse the latest job openings anywhere, anytime.
      </div>
      <div class="col-sm-12 padding-10">
        <%= link_to image_tag('google-play.png', alt: 'Available at Google play'), '', :target => '_blank' %>
      </div>
      <hr/>
      <div class="col-sm-12">Scan the QR code to install from google play store</div>
      <div class="col-sm-12 padding-10">
        <%= image_tag('msajili-qr.png', alt: 'QR Code') %>
      </div>
    </div>
    <div class="col-sm-5 offset1">
      <div class="android">
        <div id="carousel-screenshots" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active"><%= image_tag('home.png', alt: 'Msajili') %></div>
            <div class="item"><%= image_tag('feed.png', alt: 'Msajili') %></div>
            <div class="item"><%= image_tag('notification.png', alt: 'Msajili') %></div>
            <div class="item"><%= image_tag('notifications.png', alt: 'Msajili') %></div>
            <div class="item"><%= image_tag('job.png', alt: 'Msajili') %></div>
            <div class="item"><%= image_tag('job2.png', alt: 'Msajili') %></div>
          </div>
        </div>
      </div>
      <div class="carousel-nav">
        <a href="#" data-to="0" class="active">0</a>
        <a href="#" data-to="1">1</a>
        <a href="#" data-to="2">2</a>
        <a href="#" data-to="3">3</a>
        <a href="#" data-to="4">4</a>
        <a href="#" data-to="5">5</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
