<div class="col-sm-2"></div>
<%= form_for(@company,url: savecompany_path, html: {class: "form-horizontal col-sm-8",role:"form"}) do |f| %>
	<h1>Edit Company</h1>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.hidden_field :id%>
	<div class="form-group">
		<%= f.label :name,"Company name", class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= @company.name %>
		</div>
   	</div>
   	<div class="form-group">
   		<%= f.label :about,"About company", class: "col-sm-2 control-label" %>
		<div class="col-sm-10"><%= f.text_area :about,class: "btn-block",rows: 6 %></div>
	</div>
	<div class="form-group">
    	<%= f.label :country, class: "col-sm-2 control-label"  %>
    	<div class="col-sm-5">
			<%= country_select('company','country',{},{:class => "form-control"})%>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :city, class: "col-sm-2 control-label"  %>
		<div class="col-sm-5">
			<%= f.text_field :city, class: "form-control", :required=>true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :phone, class: "col-sm-2 control-label"  %>
		<div class="col-sm-5">
			<%= f.text_field :phone, class: "form-control", :required=>true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :website, class: "col-sm-2 control-label"  %>
		<div class="col-sm-5">
			<%= f.text_field :website, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<%= f.submit "Update Company", class: "btn btn-large btn-primary" %>
		</div>
	</div>
<% end %>
<div class="col-sm-2"></div>