<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="col-sm-3">
			<div>
				<b><%= @company.name %></b>
			</div>
			<div>
				<%= @company.phone %>
			</div>
			<div>
				<%= @company.country_name %>
			</div>
			<div>
				<%= @company.city %>
			</div>
			<div>
				<%= @company.website %>
			</div>
		</div>
		<div class="col-sm-9">
			<div>
				<%= @company.about %>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div></br>
</br>