<div class="panel panel-default">
  <div class="panel-body">
    <table id="<%=generate_applications_datatable_id%>" class="table table-striped small_font" data-job_id="<%=job_id%>" data-filter_id="<%=@filter_id%>" data-stage_id="<%=@stage%>" data-show_only_active="<%=@only_active%>">
      <thead>
      <tr>
        <th><b>Name</b></th>
        <th><b>Rating</b></th>
        <th><b>Status</b></th>
        <th><b>Stage</b></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>