<% 
	questions = @application.job.questions 
	i=1
%>
<% questions.each do |q|%>
	<div>
		<%=i%>. <%= q.content %>
		<div>
			<% if q.has_choices %>
				<% q.choices.each do |c| %>
					<p><%= "#{nbsp(10)}#{c.content}" %></p>
				<% end %>
			<% end %>
			<% if q.is_answered(@application) %>
				<% if q.has_choices %>
					<p class="alert-success"><%= "#{nbsp(5)}#{q.get_answer(@application).choice.content}"%></p>
				<% else %>
					<p class="alert-success"><%= "#{nbsp(5)}#{q.get_answer(@application).content}" %></p>
				<% end %>
			<% else %>
				<p class="alert-danger"><%= "#{nbsp(5)}Not answered." %></p>
			<% end %>
		</div>
		<hr/>
	</div>	
<% i+=1 end %>
