<div class="col-sm-12">
	<div class="col-sm-10">
		<div class="form-group">
			<div class="col-sm-2"></div>
			<div class="col-sm-2">
				<% if f.object.position %>
				<b>Stage <%=f.object.position%></b>
				<% end %>
			</div>
			<%= f.label :title, class: "col-sm-2 control-label" %>
			<div class="col-sm-6">
				<%= f.text_field :title, class: "form-control", :required=>true %>
			</div>
	   	</div>
	   	<div class="form-group">
			<%= f.label :description, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_area :description, rows: 2, class: "form-control", :required=>true %>
			</div>
	   	</div>
	   	<hr/>
	</div>
	<div class="col-sm-2">
		<%= f.link_to_remove 'Remove',class: 'btn btn-danger btn-xs' %>
		<hr/>
		<% if f.object.id %>
			<%= link_to fa_icon('arrow-circle-up',text:'Move up'), movestage_path(id: f.object.id, direction: 1)  %><br/>
			<%= link_to fa_icon('arrow-circle-down',text:'Move down'),movestage_path(id: f.object.id, direction: 2)  %>
		<% end %>
	</div>
</div>

