<% provide(:title, 'New Procedure') %>
<div class="col-sm-1"></div>
<%= nested_form_for(@procedure, url: createprocedure_path, html: {class: 'form-horizontal col-sm-10',role:"form"}) do |f| %>
	<%= f.hidden_field :company_id %>
	<div class="form-group">
		<%= f.label :title,"Procedure Title", class: "control-label" %>
		<%= f.text_field :title, class: "form-control", :required=>true %>
   	</div>
	<div class="form-group">
		<%= f.fields_for :stages %>
	</div>
	<div class="form-group">
		<%= f.link_to_add "Add Stage", :stages %>
	</div>
	<div class="form-group">
		<%= f.submit "Save", class: "btn btn-large btn-primary col-sm-1" %>
	</div>
<% end %>
<div class="col-sm-1"></div>