<div class="fields">
	<div class="row">
		<div class="col-sm-4"><%= f.label :institution %></div>
		<div class="col-sm-3"><%= f.label :academic_level %></div>
	</div>
	<div class="row">
		<div class="col-sm-4"><%= f.text_field :institution,class: "btn-block",placeholder:"Institution name" %></div>
		<div class="col-sm-3"><%= f.collection_select(:academic_level_id,AcademicLevel.all,:id,:name,{:prompt => true},class: "btn-block")%></div>
		<div class="col-sm-3">
		</div>
		<div class="col-sm-2"><%= f.link_to_remove "Remove" %></div>
	</div>
	<div class="row">
		<div class="col-sm-7"><%= f.label :award %></div>
	</div>
	<div class="row">
		<div class="col-sm-7"><%= f.text_field :award,class: "btn-block",placeholder:"Award e.g Bsc. Computer Science/K.C.P.E/K.C.S.E"%></div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
			<%= f.label :start_date %>
			<%= f.text_field :start_date,id: "#{generate_datepicker_id}", placeholder:"yyyy-mm-dd",class: "btn-block"%>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-3">
			<%= f.label :end_date %>
			<%= f.text_field :end_date,id: "#{generate_datepicker_id}", placeholder:"yyyy-mm-dd",class: "btn-block"%>
		</div>
	</div>
	<hr/>
</div>	