<div class="row cv">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		</br>
		<div><%= if show_edit then link_to "Edit Profile", editprofile_path end%></div>
		<hr/>
		<div class="row">
			<div style="text-align: center"><b><%=user.first_name%><%=nbsp(1)%><%=user.last_name%></b></div>
		</div>
		<div class="row">
			<div style="text-align: center"><%=user.email%></div>
		</div>
		</br>
		<div style="text-align: center"><b>PROFESSIONAL EXPERIENCE</b></div>
		<hr/>
		<% user.employers.each do |e|%>
			<div class="row">
				<div class="col-sm-8"><b><%= e.name %></b></div>
				<div class="col-sm-4"><%= e.from %> to <%= e.to %></div>
			</div>
			<div class="row">
				<div class="col-sm-12"><%= e.position_held %></div>
			</div>
			</br>
			<ul>
				<% e.responsibilities.each do |r|%>
					<div class="row">
						<div class="col-sm-12"><li><%= r.description %></li></div>
					</div>
				<% end %>
			</ul>
		<% end %>
		</br>
		<div style="text-align: center"><b>EDUCATION</b></div>
		<hr/>
		<% user.academic_qualifications.each do |a|%>
			<div class="row">
				<div style="text-align: center"><b><%=a.award%></b></div>
			</div>
			<div class="row">
				<div style="text-align: center"><%=a.institution%> <%= a.start_date %> to <%= a.end_date %></div>
			</div></br>
		<% end %>
		</br>
		<div style="text-align: center"><b>REFEREES</b></div>
		<hr/>
		<% user.referees.each do |r|%>
			<div class="row">
				<div class="col-sm-12"><b><%=r.title%> <%=r.first_name%> <%=r.last_name%></b></div>
			</div>
			<div class="row">
				<div class="col-sm-12"><%=r.position%>, <%=r.company%></div>
			</div>
			<div class="row">
				<div class="col-sm-12"><%=r.phone%>, <%=r.email%></div>
			</div></br>
		<% end %>
		<div><%= if show_edit then link_to "Edit Profile", editprofile_path end %></div>
		</br>
	</div>
	
	<div class="col-sm-2"></div>
	</br>
</div>
