<div class="fields">
	<div class="row">
		<div class="col-sm-6">
			<%= f.label :name,"Company name" %>
			<%= f.text_field :name,class: "btn-block",placeholder:"Company name" %>
		</div>
		<div class="col-sm-4">
		</div>
		<div class="col-sm-2"><%= f.link_to_remove "Remove" %></div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
			<%= f.label :from, "Start date"%>
			<%= f.text_field :from,placeholder:"yyyy-mm-dd", id: "#{generate_datepicker_id}", class: "btn-block"%>
		</div>
		<div class="col-sm-3">
			<%= f.label :to,"End date" %>
			<%= f.text_field :to,placeholder:"yyyy-mm-dd", id: "#{generate_datepicker_id}", class: "btn-block"%>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<%= f.label :position_held,"Position held" %>
			<%= f.text_field :position_held,class: "btn-block",placeholder:"Position held" %>
		</div>
	</div>
	</br>
	<div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-11"><%= f.fields_for :responsibilities %></div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-11">
				<%= f.link_to_add "Add Responsibility", :responsibilities %>
			</div>
		</div>
	</div>
	<hr/>
</div>	