<div class="fields">
	<div class="row">
		<div class="col-sm-2"><%= f.text_field :title,class: "btn-block",placeholder:"Title e.g Mr/Mrs/Prof" %></div>
		<div class="col-sm-3"><%= f.text_field :first_name,class: "btn-block",placeholder:"First name" %></div>
		<div class="col-sm-3"><%= f.text_field :last_name,class: "btn-block",placeholder:"Last name" %></div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-2"><%= f.link_to_remove "Remove" %></div>
	</div>
	
	<div class="row">
		<div class="col-sm-2"><%= f.text_field :phone,class: "btn-block",placeholder:"Phone Number" %></div>
		<div class="col-sm-3"><%= f.text_field :position,class: "btn-block",placeholder:"Position e.g Chief Editor" %></div>
		<div class="col-sm-3"><%= f.text_field :company,class: "btn-block",placeholder:"Company" %></div>
		
	</div>
	
	<div class="row">
		<div class="col-sm-5"><%= f.text_field :email,class: "btn-block",placeholder:"Email" %></div>
	</div>
	<hr/>
</div>	