<%= form_for(:report, url: reports_path, method: 'get') do |f|%>
    <div class="row">
        <div class="col-sm-6">
            <%= f.label :start_date %>
            <%= f.text_field :start_date, :value => @report.start_date, id: "#{generate_datepicker_id}", placeholder:"yyyy-mm-dd",class: "btn-block"%>
        </div>
        <div class="col-sm-6">
            <%= f.label :end_date %>
            <%= f.text_field :end_date, :value => @report.end_date, id: "#{generate_datepicker_id}", placeholder:"yyyy-mm-dd",class: "btn-block"%>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6"><%= f.submit('Generate',class: 'btn btn-primary btn-block') %></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
<%end%>