<div class="row">
  <div  class="col-sm-12">
    <div class="footer text-muted roboto text-center">
      <%= link_to 'Terms of Service',tos_path%> |
      <%= link_to 'Privacy Policy',privacy_path%> |
      <%= link_to 'Contact Us',contact_path%> |
      <%= link_to 'Pricing',pricing_path%> |
      <%= link_to 'Careers','http://www.msajili.com/company/msajili' %>
    </div>
  </div>
</div>
<div class="row">
  <div  class="col-sm-12">
    <div class="footer text-muted roboto text-center padding-10">
      <%= link_to image_tag('facebook.png',alt: 'Facebook',:class => 'social_footer') , 'https://www.facebook.com/msajili.recruitment', :target => '_blank' %> |
      <%= link_to image_tag('twitter.png',alt: 'Twitter',:class => 'social_footer') , 'https://twitter.com/MsajiliKenya', :target => '_blank' %> |
      <%= link_to image_tag('linkedin.png',alt: 'LinkedIn',:class => 'social_footer') , 'https://www.linkedin.com/company/msajili', :target => '_blank' %>
    </div>
  </div>
</div>