<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta property="og:image" content="<%= image_url('icon.png') %>"/>
  <title>Msajili Agent</title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<% if @agent_user %>
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= agenthome_url %>">Agent</a>
      </div>
      <div style="color: white;
              padding: 15px 50px 5px 50px;
              float: right;
              font-size: 16px;">
        <%= link_to fa_icon('power-off', text: 'Sign Out'), agentsignout_path, class: 'btn btn-danger square-btn-adjust' %>
      </div>
    </nav>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% flash.each do |key, value| %>
          <% if value.is_a?(String) %>
              <div class="alert alert-<%= key %> ">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, simple_format(value), :id => "flash_#{key}" %>
              </div>
          <% end %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
