<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="author" content="<%= yield(:author) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">
  <meta property="og:image" content="<%= yield(:thumbnail) %>"/>
  <title> <%= yield(:title) %></title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<% if @admin_user %>
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= admin_url %>">Admin</a>
      </div>
      <div style="color: white;
              padding: 15px 50px 5px 50px;
              float: right;
              font-size: 16px;">
        <%= link_to fa_icon('power-off', text: 'Sign Out'), adminsignout_path, class: 'btn btn-danger square-btn-adjust' %>
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-12">

        <%= link_to 'Users', adminusers_path, class: "btn #{current_page?(adminusers_path) ? 'btn-info' : 'btn-default'} col-sm-3" %>
        <%= link_to 'Companies', admincompanies_path, class: "btn #{current_page?(admincompanies_path) ? 'btn-info' : 'btn-default'} col-sm-3" %>
        <%= link_to 'Jobs', adminjobs_path, class: "btn #{current_page?(adminjobs_path) ? 'btn-info' : 'btn-default'} col-sm-3" %>
        <%= link_to 'Sales Agents', adminagents_path, class: "btn #{current_page?(adminagents_path) ? 'btn-info' : 'btn-default'} col-sm-3" %>
      </div>
    </div>
<% end %>


<% flash.each do |key, value| %>
    <% if value.is_a?(String) %>
        <div class="alert alert-<%= key %> ">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, simple_format(value), :id => "flash_#{key}" %>
        </div>
    <% end %>
<% end %>
<%= yield %>
</body>
</html>
