<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="author" content="<%= yield(:author) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">
  <meta property="og:image" content="<%= image_url('icon.png') %>"/>

  <title>Msajili | <%= yield(:title) %></title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag "application" %>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,800italic' rel='stylesheet' type='text/css'>
</head>
<body class="home-body">
<div class="wrapper">
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%
           package = ''
           if logged_in? && clearance != Role.applicant
             package = Package.package_name(@current_user.company.package)
           end
        %>
        <div class="navbar-brand">
          <%= link_to root_path do %>
              <%= image_tag('logo.png', :class => 'logo') %>
          <% end %>
        </div>
        <span class="navbar-package"><%= package %></span>
      </div>
      <%= render 'layouts/header' %>
    </div>
  </div>
  <div class="content-home">
    <div class="container">
      <div class="row">
        <noscript>
          <div class="noscript">
            <p><strong>JavaScript is disabled on your browser.</strong> Enable it to utilize the full functionality of
              this website</p></div>
        </noscript>
      </div>
      <div class="row">
        <% if logged_in? %>
            <%= render '/shared/breadcrumb' %>
        <% end %>
        <% flash.each do |key, value| %>
            <% if value.is_a?(String) %>
                <div class="alert alert-<%= key %> ">
                  <a class="close" data-dismiss="alert">&#215;</a>
                  <%= content_tag :div, simple_format(value), :id => "flash_#{key}" %>
                </div>
            <% end %>
        <% end %>
        <%= yield %>
      </div>
      <div class="row">
        <div id='debug' class='debug'><%= debug(params) if Rails.env.development? %> </div>
      </div>
    </div>
  </div>
  <div class="row padding-10"></div>
  <footer class="home-footer">
    <%= render 'layouts/footer_content' %>
  </footer>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/html5shim' %>
</div>
</body>
</html>
