<% if @password_request %>
  <div align="center" style="margin-top: 2em;">
    <%= form_for @password_request, url: password_reset_path,method: :post, html: {class: "form-signin",role:"form"} do |f| %>
        <%= f.hidden_field :token %>
        <%= render 'shared/error_messages', object: f.object %>
        <fieldset class="fieldset">
          <p>
            Email: <b><%= @password_request.user.email %></b>
            </p>
            <p>
            Enter your new password below.
          </p><br/>
          <p>
            <label for='user_password'>New Password</label><br />
            <%= f.password_field :password  %>
          </p>
          <p>
            <label for='user_password_confirmation'>New Password Confirmation</label><br />
            <%= f.password_field :password_confirmation %>
          </p>
          <div align="center">
            <%= f.submit 'change password', class: 'btn btn-lg btn-primary btn-block' %>
          </div>
        </fieldset>
    <% end %>
  </div>
<% end %>
