<% provide(:title, 'Role select') %>

<div class='row'>
	<div class="col-sm-4">
	</div>

	<div class="col-sm-4 text-center">
        <%if @show_activation_view %>
            <%= render 'resend_notification'%>
          <%end%>
		<div class="text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><b>Sign in as</b></h1>
                </div>
                <div class="panel-body">
                    <%= link_to 'Job seeker', signin_path(role: '3'), class: 'btn btn-lg btn-primary btn-block'%>
                    <p>New job seeker? <%= link_to 'Sign up now!', signup_path %></p>
                    </br></br>
                    <%= link_to 'Employer', signin_path(role: '2'), class: 'btn btn-lg btn-primary btn-block'%>
                    <p>New employer? <%= link_to 'Sign up now!', register_path %></p>
                </div>
		    </div>
        </div>
	</div>
	<div class="col-sm-4">
	</div>
</div>